In [ ]:
import pandas as pd

In [ ]:
#leggi il df

In [ ]:
# Rimuovi Ask For Price e reset index

In [ ]:
# rimuovi virgola in prices

In [ ]:
# prezzi hanno scale non reali

In [ ]:
#sistema bottles_stored

In [ ]:
# year come intero

In [ ]:
# utilizza solo gli anni più frequenti (primi 20)

In [ ]:
# Estrazione del tipo (wine_type) vino dal nome

In [ ]:
# Calculate age dal 2025

In [ ]:
# Fill cellar_type con la moda

In [ ]:
#drop columns and nan

In [ ]:
df_clean

,name,year,Price,bottles_stored,cellar_type,wine_type,age_years
0,Chardonnay Estate,2019,50.18,106.0,Premium,Chardonnay,5
1,Sauvignon Vintage,2022,29.70,1513.0,Standard,Sauvignon,2
2,Chardonnay Select,2018,93.89,614.0,Basic,Chardonnay,6
4,Barbaresco Vintage,2016,22.02,1213.0,Standard,Barbaresco,8
5,Rioja Classic,2023,65.67,1270.0,Premium,Rioja,1
...,...,...,...,...,...,...,...
270,Rioja Gran Reserve,2019,87.83,936.0,Standard,Rioja,5
271,Grenache Estate,2023,37.08,1704.0,Premium,Grenache,1
272,Chardonnay Premium,2015,43.68,709.0,Standard,Chardonnay,9
273,Syrah Vintage,2016,26.25,888.0,Premium,Syrah,8
274,Champagne Select,2022,99.96,1740.0,Premium,Champagne,2