In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('wine.csv')

In [4]:
df_clean = df.copy()

In [5]:
# Rimuovi Ask For Price e reset index
df_clean = df_clean[df_clean['Price'] != 'Ask For Price'].reset_index(drop=True)

In [6]:
# rimuovi virgola in prices
df_clean['Price'] = df_clean['Price'].str.replace(',', '').astype(int)

In [7]:
# prezzi hanno scale non reali
df_clean['Price'] = df_clean['Price']/100

In [8]:
df_clean['bottles_stored'] = df_clean['bottles_stored'].replace('', np.nan)
df_clean['bottles_stored'] = df_clean['bottles_stored'].str.replace(',', '')
df_clean['bottles_stored'] = df_clean['bottles_stored'].str.replace('bottles', 'btl')
df_clean['bottles_stored'] = df_clean['bottles_stored'].str.extract('(\d+)').astype(float)

In [9]:
# year come intero
df_clean['year'] = pd.to_numeric(df_clean['year'], errors='coerce').astype(int)

In [10]:
# gli anni più frequenti

mask = df_clean['year'].value_counts().nlargest(20).index
df_clean = df_clean[df_clean['year'].isin(mask)].reset_index(drop=True)

In [11]:
# Estrazione del tipo vino dal nome
df_clean['wine_type'] = df_clean['name'].str.split().str[0]

In [12]:
# Calculate age
df_clean['age_years'] = 2024 - df_clean['year']

In [13]:
# Fill cellar_type con la moda
df_clean['cellar_type'] = df_clean['cellar_type'].fillna(df_clean['cellar_type'].mode()[0])

In [14]:
#drop columns and nan
df_clean = df_clean.drop(columns='Unnamed: 0')
df_clean = df_clean.dropna()

In [ ]:
df_clean

,name,year,Price,bottles_stored,cellar_type,wine_type,age_years
0,Chardonnay Estate,2019,50.18,106.0,Premium,Chardonnay,5
1,Sauvignon Vintage,2022,29.70,1513.0,Standard,Sauvignon,2
2,Chardonnay Select,2018,93.89,614.0,Basic,Chardonnay,6
4,Barbaresco Vintage,2016,22.02,1213.0,Standard,Barbaresco,8
5,Rioja Classic,2023,65.67,1270.0,Premium,Rioja,1
...,...,...,...,...,...,...,...
270,Rioja Gran Reserve,2019,87.83,936.0,Standard,Rioja,5
271,Grenache Estate,2023,37.08,1704.0,Premium,Grenache,1
272,Chardonnay Premium,2015,43.68,709.0,Standard,Chardonnay,9
273,Syrah Vintage,2016,26.25,888.0,Premium,Syrah,8
274,Champagne Select,2022,99.96,1740.0,Premium,Champagne,2