In [ ]:
import pandas as pd
import numpy as np

## Esercizio 1: Creazione di variabili dummy da una singola colonna categorica

In [3]:
df = pd.DataFrame({
                'frutta': ['mela', 'banana', 'arancia', 'mela', 'banana']
                })

# Il tuo compito: Usa pd.get_dummies() per convertire la colonna 'frutta' in variabili dummy
# Salva il risultato in una variabile chiamata 'dummies'

   arancia  banana   mela
0    False   False   True
1    False    True  False
2     True   False  False
3    False   False   True
4    False    True  False

## Esercizio 2: Concatenare il DataFrame originale con le variabili dummy

In [6]:
df = pd.DataFrame({
                    'id': [1, 2, 3, 4, 5],
                    'colore': ['rosso', 'blu', 'verde', 'blu', 'rosso'],
                    'valore': [10, 20, 30, 40, 50]
                    })

# 1. Crea variabili dummy per la colonna 'colore'
# 2. Concatena queste dummy al DataFrame originale mantenendo l'id e valore
# 3. Rimuovi la colonna 'colore' originale

   id  valore  colore_blu  colore_rosso  colore_verde
0   1      10       False          True         False
1   2      20        True         False         False
2   3      30       False         False          True
3   4      40        True         False         False
4   5      50       False          True         False

## Esercizio 3: Gestire variabili dummy con il parametro drop_first

In [9]:
import pandas as pd

df = pd.DataFrame({
                    'stato_civile': ['single', 'sposato', 'divorziato', 'single', 'sposato', 'divorziato']
                })

Tutte le dummy:
   stato_divorziato  stato_single  stato_sposato
0             False          True          False
1             False         False           True
2              True         False          False
3             False          True          False
4             False         False           True
5              True         False          False

Con drop_first=True:
   stato_single  stato_sposato
0          True          False
1         False           True
2         False          False
3          True          False
4         False           True
5         False          False

## Esercizio 4: Gestire valori mancanti nelle variabili categoriche

In [16]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
                    'dispositivo': ['smartphone', 'tablet', None, 'smartphone', 'laptop', None]
                })

# 1. Crea variabili dummy con la gestione predefinita dei valori mancanti
# 2. Crea variabili dummy impostando dummy_na=True
# 3. Confronta i risultati e spiega la differenza

Gestione predefinita (dummy_na=False):
   laptop  smartphone  tablet
0   False        True   False
1   False       False    True
2   False       False   False
3   False        True   False
4    True       False   False
5   False       False   False

Con dummy_na=True:
   laptop  smartphone  tablet    NaN
0   False        True   False  False
1   False       False    True  False
2   False       False   False   True
3   False        True   False  False
4    True       False   False  False
5   False       False   False   True

## Esercizio 5: Usare variabili dummy con pi√π colonne categoriche

In [19]:
import pandas as pd

df = pd.DataFrame({
                'genere': ['M', 'F', 'M', 'F', 'M'],
                'istruzione': ['laurea', 'diploma', 'laurea', 'dottorato', 'diploma'],
                'punteggio': [85, 92, 78, 96, 88]
                })

# 1. Crea variabili dummy per entrambe le colonne categoriche in un unico passaggio
# 2. Mantieni la colonna 'punteggio' nel DataFrame risultante

,punteggio,genere_F,genere_M,istruzione_diploma,istruzione_dottorato,istruzione_laurea
0,85,False,True,False,False,True
1,92,True,False,True,False,False
2,78,False,True,False,False,True
3,96,True,False,False,True,False
4,88,False,True,True,False,False

   punteggio  genere_M  istruzione_dottorato  istruzione_laurea
0         85      True                 False               True
1         92     False                 False              False
2         78      True                 False               True
3         96     False                  True              False
4         88      True                 False              False